
.ipynb_checkpoints/Logistic Regression Using Optim.jl-checkpoint.ipynb
.ipynb_checkpoints/LogisticRegression-checkpoint.ipynb
.ipynb_checkpoints/Method Comparisons in Optim.jl-checkpoint.ipynb
JuliaCon2017.ipynb
.ipynb_checkpoints/Local Minimum-checkpoint.ipynb
Local Minimum.ipynb
Method Comparisons in Optim.jl.ipynb
Julia Con 2017.ipynb
.ipynb_checkpoints/Julia Con 2017-checkpoint.ipynb
.ipynb_checkpoints/ Benchmarks-checkpoint.ipynb
 Benchmarks.ipynb
